##
#
# The first section of the configuration file refers to the
# input and output paths.
#
# Templer will process all files matching "*.tmplr" beneath a
# particular directory.  That directory is the input directory.
#
input = input/
#
##



##
#
# Within the input directory we'll process files that match
# this suffix:
#
suffix = .tmplr
#
##



##
#
# If we're working in-place then files will be expanded where
# they are found.
#
# This means that the following files will be created:
#
#   ./input/index.skx       -> input/index.html
#   ./input/foo/index.skx   -> input/foo/index.html
#   ..
#
in-place = 0
#
##



##
#
# The more common way of working is to produce the output in a separate
# directory.
#
# NOTE:  If you specify both "in-place=1" and an output directory the former
#        will take precedence.
#
#
output = ./output/
#
##


##
# Inclusion path to be searched for files.
#
##
include-path = ./includes/

##
#
# When pages are processed a layout-template will be used to expand the content
# into.
#
# Each page may specify its own layout if it so wishes, but generally we'd
# expect only one layout to exist.
#
# Here we specify both the path to the layout directory and the layout to use
# if none is specified:
#
#
layout-path = ./layouts/
layout      = new.layout
#
##




#
#  Anything below this is a global variable, accessible by name in your
# templates.
#
#  For example this:
#
#    copyright = &copy; Steve Kemp 2012
#
#  Can be used in your template, or you page text via:
#
#    <!-- tmpl_var name='copyright' -->
#
copyright = &copy; <a href="http://steve.kemp.fi/">Steve Kemp</a>


#
#  Legacy-Project repository.
#
repo.legacy      = https://github.com/lumail/lumail/

#
#  The current repository
#
repo.active      = https://github.com/lumail/lumail2/

#
#  Website repository.
#
repo.web  = https://github.com/lumail/lumail.org/

#
#  Default configuration file.
#
legacy.cfg = https://raw.github.com/lumail/lumail/master/lumail.lua

#
#  New configuration-file
#
lumail2.cfg = https://raw.githubusercontent.com/lumail/lumail2/master/lumail2.lua

#
#  User configuration-file
#
lumail2.user.cfg = https://raw.githubusercontent.com/lumail/lumail2/master/lumail2.user.lua

#
#  GPG documentation
#
gpg.md =  https://raw.githubusercontent.com/lumail/lumail2/master/GPG.md
